Aligned - Recombination Analysis Sequences.fasta
Aligned spike omicronXBB.fasta
Aligned spike omicronXBB.mas
Clean Aligned Protein spike omicronXBB.fasta
Clean Aligned spike DNA omicronXBB.fasta
error table with GISAID.csv
MegaAligned - Recombination Analysis Sequences.fas
non-redundant omicron spike.fasta
Omicron XBB Complete Sequences.fasta
Omicron XBB Dates and Location.csv
Omicron XBB Dates and Location.tsv
Omicron XBB Patient Data.csv
Omicron XBB Patient Data.tsv
omicron_spike_project.jvp
omicron_spike.fasta
omicron_spike.fasta.bak001
ParentSeq1.fasta
ParentSeq2.fasta
ParentSeq3.fasta
Recombination Analysis Sequences.fasta
Spike Comparative proteomics.fasta